<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        <!-- Cấu hình MongoDB CSDL -->
        <add key="MongoDb_ConnectionString" value="mongodb://192.168.1.254:27017" />
        <add key="MongoDb_DatabaseName" value="PhuXuanParkingSystemDb" />

        <!-- Mức độ ghi log: Warning (chỉ ghi lỗi/cảnh báo), Information (ghi chi tiết), Debug (kỹ thuật dò lỗi) -->
        <add key="LogLevel" value="Warning" />
        <add key="Log_Path" value="Logs/app-.log" />
        <add key="Log_RetainedDays" value="30" />
        <add key="Log_FileSizeLimitMB" value="50" />

        <!-- Thư mục lưu ảnh chụp (hỗ trợ UNC mạng \\server\share hoặc thư mục cục bộ) -->
        <add key="CaptureSavePath" value="\\192.168.1.254\Captures" />

        <!-- ================= TỐI ƯU NHẬN DIỆN BIỂN SỐ (ANPR PREPROCESSING) ================= -->
        <!-- Chiều rộng ảnh tối đa khi đưa vào bộ nhận diện OCR (Pixel). Mặc định 960px (qHD) giúp tăng tốc độ OCR lên gấp 3-5 lần (~20-35ms) -->
        <add key="Anpr_MaxImageWidth" value="960" />

        <!-- ================= CẤU HÌNH BẢN QUYỀN (RSA 3072-BIT KEYS) ================= -->
        <!-- Khóa công khai Public Key dùng để xác thực License Key (Chỉ lưu Public Key trên máy Client) -->
        <add key="License_PublicKey" value="&lt;RSAKeyValue&gt;&lt;Modulus&gt;ngkRE8TrNYUW5hyaHEdG0B9Ez+pV28ewRYCiGxDlu5uZapISLi03JAbhdvSYP1pTjU3o2+ygMOxyCKjt4QA0iXQ6qhGsPKAJP5tASkCbHaqc7pyJb2+lpVkTiusMl+XJTXJPsfdUMkusP43hHUO4NdXV+yDvWhzOKfkjhIvLv5au2DttvQmluxCqmHPbwygt4sZjmqR7EIPtMRBFe5tPUN6045dVpBQXeKr6joTbkPB9/XtTlMjOcq1e4JfTHTJw9AyMRGoDlSVkMiaIQCfR6GLs0nfUbfWzpvm998UrYHZWaWJCIkZF7HOYb9t23OJzJ/jFN9q2tZ2jGy4keP9OkYSgoNMC1MiCUMXeXRIidNVxIp9VtcBV/Il1sxZVzoXX/k0K6WQaOu2EM2sD06U8Hi9CUgBFSX1MT0ie9OnzWk1ALC8mzF6efuTgalp600DRn5ZFCHIWb+2Yz179Y6VZ7H8/+46ZDQJxufeVNMXN2rQo/iS7qW+WzS/KJ2SC/EEh&lt;/Modulus&gt;&lt;Exponent&gt;AQAB&lt;/Exponent&gt;&lt;/RSAKeyValue&gt;" />
    </appSettings>
</configuration>
